$clr1: #026aa7;
$clr2: #ffffff;
$clr3: rgba(255, 255, 255, 0.3);
$clr4: #014a72;
$clr5: rgba(255, 255, 255, 0.2);
$clr6: #3588b9;
$clr7: #ebecf0;
$clr8: darken($clr7, 8%);
$mainClr: #172b4d;
$lightGrey: #f4f5f7;

$favorite-clr: #f2d600;
$spacing: 10px;
$draggable-spacing: 8px;
$border-rsize: 3px;
$scroll-y-clr: #bfc4ce7c;
$scroll-y-bg-clr: #091e4214;
$group-size: 272px;
$header-btn-clr: #00000014;
$header-btn-clr-dark: #00000029;