.labels-item h3 {
  display: block;
  margin-top: 17px;
  margin-left: 3px;
}

.label-item-input {
  @include popupInput();
}

.labels-item ul li {
  cursor: pointer;
  height: 32px;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  width: 248px;

  & .label-txt {
    z-index: 5;
    color: white;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    font-weight: 700;
    // margin: 2px 0 4px 6px;
    min-height: 31px;
    padding: 6px 3px;
    position: relative;
    transition: padding 85ms;
    min-width: 239px;
    transition: all 0.3s;
  }

  & .edit-labels {
    @include icon('\e927');
    padding: 9px;
    margin-right: -19px;
    z-index: 5;
  }

  & .hover-marker {
    border-radius: 3px;
    min-width: 246px;
    min-height: 31px;
    padding-left: -13vw;
    position: absolute;
    margin-left: -1px;
    margin-top: 2px;
    background-color: rgb(102, 84, 84);
  }
}

.delete-label {
  background-color: #b04632 !important;
  border: none;
  color: white;
  width: 53px !important;
  margin: 5px 0 0 0;
  justify-content: center;
  width: 70px !important;
}

.labels-actions {
  margin-top: 10px;
}

.create {
  width: 70px !important;
  justify-content: center;
}

.create-label-btn {
  padding: 6px;
  margin-top: 18px;
}

.label {

  & .icon-complete{
    color: #fff;
    position: absolute;
    left: 200px;
    font-weight: 400;
  }

  &:hover {
    position: relative;

    .label-hover {
      left: -2.5%;
      filter: brightness(0.7);
      position: relative;
      height: 31px;
    }

    .label-txt {
      position: absolute;
      width: 100.5%;

    }
  }

  .label-hover {
    width: 10px;
    height: 32px;
    border-radius: 3px 0 0 3px;
  }
}
