.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.438);
  backdrop-filter: blur(5px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  overflow-y: scroll;
}

.overlay-flat {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.438);
  opacity: 0;
  pointer-events: none;
  overflow-y: scroll;
}

.open-overlay {
  z-index: 5;
  pointer-events: auto;
  opacity: 1;
}

.open-overlay-2 {
  z-index: 5;
  pointer-events: auto;
  opacity: 1;
}
