.pop-up-main {
  position: absolute;
  top: 36px;
  width: 304px;
  padding: 10px;
  z-index: 10;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);

  header {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(9, 30, 66, 0.13);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
    span {
      position: absolute;
      right: 0;
      cursor: pointer;
      opacity: 0.5;
    }
  }
  h4 {
    color: #5e6c84;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 4px;
  }
}

.popup{
  position: absolute;
  top: 45px;
  width: 304px;
  padding: 10px;
  z-index: 10;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%),
  0 0 0 1px rgb(9 30 66 / 8%);
  
  header {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(9, 30, 66, 0.13);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
  
    span {
      position: absolute;
      right: 0;
      cursor: pointer;
      opacity: 0.5;
    }
  }
  
  h4 {
    color: #5e6c84;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 4px;
  }

  p{
      color: #5e6c84;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      margin-bottom: 4px;
  }
}

.popup-inp {
  margin-top: 7px;
  display: block;
  line-height: 20px;
  padding: 8px 12px;
  background-color: #fafbfc;
  border: none;
  outline: none;
  border-radius: 3px;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  font-size: 14px;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
  width: 100%;

  &:focus {
    box-shadow: inset 0 0 0 2px #0079bf;
  }
}
